{% extends 'sharedpage.html'%}
{% block title %} Update Job {% endblock title %}
{% block main %}
    <main>

        
      <section class="contact-section">
        <h2>Update Job</h2>
        <div class="contact-div">
          <form action="/update/{{myjob.jobid}}" method="POST"  class="contact-form">
            <label for="jobtitle">Job Title</label>
            <input type="text" id="jobtitle" name="jobtitle" value="{{myjob.title}}" required />
            <label for="location">Location</label>
            <input type="text" id="location" name="location" value="{{myjob.location}}" required />
            <label for="company">Company</label>
            <input type="text" id="company" name="company" value="{{myjob.company}}" required />
            <label for="jobdesc">Job Description</label>
            <input type="text" id="jobdesc" name="jobdesc" value="{{myjob.description}}" required />


           
            <button type="submit">Submit</button>
          </form>
        </div>
      </section>
    </main>
{% endblock main %}