<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <header>
      <h1>JobZila</h1>
      <nav>
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="jobsearch">Job Search</a></li>
          <li><a href="joblisting">Job Listing</a></li>
          <li><a href="terms">Terms of Service</a></li>
          <li><a href="privacy">Privacy Policy</a></li>
          <li><a href="contact">Contact Us</a></li>
        </ul>
      </nav>
    </header>
{% block main %}

{% endblock main %}

<footer>
    <p>&copy; 2024 My Job Board. All right reserved. | <a href="contact.html">Contact Us</a>  | <a href="terms.html">Terms</a> | <a href="privacy.html">Privacy</a></p>
</footer>
</body>
</html>


